@CHARSET "ISO-8859-1";

h1,h4{
	
	text-align: center;
	color: blue;
	background-color: grey;
}

h2{
	
	text-align: center;
	color: blue;
}

h3 {
	
	text-align: left;
	color: red;
	background-color: green;
}

h5 {
	
	color: red;
	text-align: left;
}

body{
	
	background-color: #FDDBEO;
}



table{
	
	border: 1px solid blue;
	margin-left:  auto;
	margin-right: auto;
	width: 50%;
	border-collapse: collapse;
	
}


th{
	
		border-collapse: collapse;
		border: 1px solid blue;
		text-align: center;
}

tr,td{
	
	border: 1px solid blue;
	text-align: center;
	width: 15px;
}

